.example__wrapper {
	background-color: #eaeaea;
}

.example__title {
	color: #000000;
	font-family: "Oswald", sans-serif;
	font-size: 36px;
	line-height: 40px;
	font-weight: 400;
}

.example__description {
	color: #000000;
	font-family: "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
}

.example__property {
	color: #000000;
	font-family: "Arial", sans-serif;
	font-size: 12px;
	line-height: 12px;
	font-weight: 400;
}

.example__description-item {
	color: #000000;
	font-family: "Oswald", sans-serif;
	font-size: 24px;
	line-height: 24px;
	font-weight: 400;
}

.example__payment {
	color: #000000;
	font-family: "Oswald", sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}
