.catalog__catalog-title {
	color: #000000;
	font-family: "Oswald", sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
}

.catalog__list {
	color: #000000;
	font-family: "Arial", sans-serif;
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
	list-style: none;
}

.catalog__product-card-more-title {
	color: #111111;
	font-family: "Oswald", sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
}

.catalog__product-card-more-text {
	color: #000000;
	font-family: "Arial", sans-serif;
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
	list-style: none;
}

.catalog__product-card-more-icon {
	&::before {
		content: "";
		display: block;
		width: 30px;
		height: 30px;
		outline: 1px dashed;
		outline-offset: -1px;
	}
}
