.plans__header {
	background-color: #68b738d9;
}

.plans__description {
	color: #ffffff;
	font-family: "Oswald", sans-serif;
	font-size: 36px;
	line-height: 36px;
	font-weight: 400;
}

.plans__slogan {
	color: #ffffff;
	font-family: "Oswald", sans-serif;
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
}

.plans__title {
	color: #000000;
	font-family: "Oswald", sans-serif;
	font-size: 24px;
	line-height: 37px;
	font-weight: 400;
}

.plans__list {
	background-color: #f2f2f2;
	list-style: none;
}

.plans__description-program {
	color: #000000;
	font-family: "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
}

.plans__title--icon-weight-loss {
	&::before {
		content: "";
		display: block;
		width: 50px;
		height: 50px;
		outline: 1px dashed;
		outline-offset: -1px;
	}
}

.plans__title--icon-weight-gain {
	&::before {
		content: "";
		display: block;
		width: 50px;
		height: 50px;
		outline: 1px dashed;
		outline-offset: -1px;
	}
}
