<footer class="main-footer">
	<div class="main-footer__wrapper">
		<div class="main-footer__contacts contacts">
			<b class="contacts__title">Приглашаем <br> к сотрудничеству <br> дилеров!</b>
			<p class="contacts__text">
			ул. Большая <br> Конюшенная, д. 19/8 <br> Санкт-Петербург
			</p>
		</div>
		<div class="main-footer__map">
			{# <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3ff37870a46a101b05caccf95485f54262b31d443d60a50126f244b209fb4d64&amp;width=320&amp;height=362&amp;lang=ru_RU&amp;scroll=true"></script> #}
		</div>
		<div class="main-footer__social social">
			<b>CAT ENERGY</b>
			<ul class="social__list">
				<li class="social__item">
				<a class="social__link social__link--vkontakte" href="https://vk.com/htmlacademy">Мы в Вконтакте</a>
				</li>
				<li class="social__item">
				<a class="social__link social__link--youtube" href="https://www.youtube.com/user/htmlacademyru">Мы в Ютубе</a>
				</li>
				<li class="social__item">
				<a class="social__link social__link--telegram" href="https://t.me/htmlacademy">Мы в Телеграме</a>
				</li>
			</ul>
		</div>
		<div class="main-footer__copyright copyright">
			<ul class="copyright__list">
				<li class="copyright__item">
					<a class="copyright__link" href="https://htmlacademy.ru/intensive/adaptive">HTML Academy</a>
				</li>
				<li class="copyright__item">
					<a class="copyright__icon" href="https://htmlacademy.ru/intensive/adaptive">HTML Academy</a>
				</li>
			</ul>
		</div>
		</div>
	</div>
</footer>
