<header class="main-header">
			<nav class="main-nav">
			<a class="main-header__logo" href="index.html" aria-current="page">
				<img class="main-header__logo-image" src="index.html" width="33" height="37" alt="Логотип сайта CAT ENERGY">
			</a>
			<button class="main-nav__toggle" type="button"><span class="visually-hidden">Открыть меню</span></button>
			<div class="main-nav__wrapper">
				<ul class="main-nav__list site-list">
					<li class="site-list__item">
						<a href="index.html">
						Главная
						</a>
					</li>
					<li class="site-list__item">
						<a href="catalog.html">
							Каталог продукции
						</a>
					</li>
					<li class="site-list__item">
						<a href="form.html">
							Подбор программы
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
