{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main-container">
	<h1 class="main-container__catalog-title ">Каталог продукции</h1>
	<section class="catalog">
		<div class="catalog__wrapper">
			<div class="catalog__product-card">
				<ul class="catalog__list">
					<li class="catalog__item">
						<img class="catalog__catalog-icon" src=" https://placekitten.com/68/86" width="68" height="86" alt="Образец товара">
						<h3 class="catalog__catalog-title">Cat Energy PRO 500 г</h3>
					</li>
				</ul>
				<dl class="catalog__list">
					<dt class="catalog__description">
						Масса
					</dt>
					<dd class="catalog__values">
						500 г
					</dd>
					<dt class="catalog__description">
						Вкус
					</dt>
					<dd class="catalog__values">
						Курица
					</dd>
					<dt class="catalog__description">
						Цена
					</dt>
					<dd class="catalog__values">
						700 Р.
					</dd>
				</dl>
				<a class="button button__catalog-order" href="#">ЗАКАЗАТЬ</a>
			</div>
			<div class="catalog__product-card">
				<ul class="catalog__list">
					<li class="catalog__item">
						<img class="catalog__catalog-icon" src="https://placekitten.com/84/100" width="84" height="100" alt="Образец товара">
						<h3 class="catalog__catalog-title">Cat Energy PRO 1000 г</h3>
					</li>
				</ul>
				<dl class="catalog__list">
					<dt class="catalog__description">
						Масса
					</dt>
					<dd class="catalog__values">
						1000 г
					</dd>
					<dt class="catalog__description">
						Вкус
					</dt>
					<dd class="catalog__values">
						Курица
					</dd>
					<dt class="catalog__description">
						Цена
					</dt>
					<dd class="catalog__values">
						1000 Р.
					</dd>
				</dl>
				<a class="button button__catalog-order" href="#">ЗАКАЗАТЬ</a>
			</div>
			<div class="catalog__product-card">
				<ul class="catalog__list">
					<li class="catalog__item">
						<img class="catalog__catalog-icon" src="https://placekitten.com/68/78" width="68" height="78" alt="Образец товара">
						<h3 class="catalog__catalog-title">Cat Energy PRO 500 г</h3>
					</li>
				</ul>
				<dl class="catalog__list">
					<dt class="catalog__description">
						Масса
					</dt>
					<dd class="catalog__values">
						500 г
					</dd>
					<dt class="catalog__description">
						Вкус
					</dt>
					<dd class="catalog__values">
						Рыба
					</dd>
					<dt class="catalog__description">
						Цена
					</dt>
					<dd class="catalog__values">
						700 Р.
					</dd>
				</dl>
				<a class="button button__catalog-order" href="#">ЗАКАЗАТЬ</a>
			</div>
			<div class="catalog__product-card">
				<ul class="catalog__list">
					<li class="catalog__item">
						<img class="catalog__catalog-icon" src="https://placekitten.com/84/100" width="84" height="100" alt="Образец товара">
						<h3 class="catalog__catalog-title">Cat Energy PRO 1000 г</h3>
					</li>
				</ul>
				<dl class="catalog__list">
					<dt class="catalog__description">
						Масса
					</dt>
					<dd class="catalog__values">
						1000 г
					</dd>
					<dt class="catalog__description">
						Вкус
					</dt>
					<dd class="catalog__values">
						Рыба
					</dd>
					<dt class="catalog__description">
						Цена
					</dt>
					<dd class="catalog__values">
						1000 Р.
					</dd>
				</dl>
				<a class="button button__catalog-order" href="#">ЗАКАЗАТЬ</a>
			</div>
			<div class="catalog__product-card">
				<ul class="catalog__list">
					<li class="catalog__item">
						<img class="catalog__catalog-icon" src="https://placekitten.com/68/78" width="68" height="78" alt="Образец товара">
						<h3 class="catalog__catalog-title">Cat Energy SLIM 500 г</h3>
					</li>
				</ul>
				<dl class="catalog__list">
					<dt class="catalog__description">
						Масса
					</dt>
					<dd class="catalog__values">
						500 г
					</dd>
					<dt class="catalog__description">
						Вкус
					</dt>
					<dd class="catalog__values">
						Гречка
					</dd>
					<dt class="catalog__description">
						Цена
					</dt>
					<dd class="catalog__values">
						400 Р.
					</dd>
				</dl>
				<a class="button button__catalog-order" href="#">ЗАКАЗАТЬ</a>
			</div>
			<div class="catalog__product-card">
				<ul class="catalog__list">
					<li class="catalog__item">
						<img class="catalog__catalog-icon" src="https://placekitten.com/84/100" width="84" height="100" alt="Образец товара">
						<h3 class="catalog__catalog-title">Cat Energy SLIM 1000 г</h3>
					</li>
				</ul>
				<dl class="catalog__list">
					<dt class="catalog__description">
						Масса
					</dt>
					<dd class="catalog__values">
						1000 г
					</dd>
					<dt class="catalog__description">
						Вкус
					</dt>
					<dd class="catalog__values">
						Гречка
					</dd>
					<dt class="catalog__description">
						Цена
					</dt>
					<dd class="catalog__values">
						700 Р.
					</dd>
				</dl>
				<a class="button button__catalog-order" href="#">ЗАКАЗАТЬ</a>
			</div>
			<div class="catalog__product-card">
				<ul class="catalog__list">
					<li class="catalog__item">
						<img class="catalog__catalog-icon" src="https://placekitten.com/72/84" width="72" height="84" alt="Образец товара">
						<h3 class="catalog__catalog-title">Cat Energy SLIM 500 г</h3>
					</li>
				</ul>
				<dl class="catalog__list">
					<dt class="catalog__description">
						Масса
					</dt>
					<dd class="catalog__values">
						500 г
					</dd>
					<dt class="catalog__description">
						Вкус
					</dt>
					<dd class="catalog__values">
						Рис
					</dd>
					<dt class="catalog__description">
						Цена
					</dt>
					<dd class="catalog__values">
						500 Р.
					</dd>
				</dl>
				<a class="button button__catalog-order" href="#">ЗАКАЗАТЬ</a>
			</div>
			<div class="catalog__product-card-more">
				<span class="catalog__product-card-more-icon">Иконка плюса</span>
				<ul class="catalog__product-card-more-list">
					<li class="catalog__product-card-more-item">
						<h3 class="catalog__product-card-more-title">Показать еще 100500 товаров</h3>
						<p class="catalog__product-card-more-text">На самом деле вкусов гораздо больше!</p>
						<a class="button button__product-card-more" href="#">показать все</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="product-extra">
		<div class="product-extra__wrapper">
			<h2 class="product-extra__product-extra-title">Дополнительные товары</h2>
			<div class="product-extra__product-extra-card">
				<h3 class="product-extra__product-extra-card-title">Сахарозаменитель</h3>
				<dl class="product-extra__list-extra">
					<dt class="product-extra__description-extra">
						1 упаковка (100 г)
					</dt>
					<dd class="product-extra__values-extra">
						200 Р.
					</dd>
				</dl>
				<a class="button button__catalog-order" href="#">ЗАКАЗАТЬ</a>
			</div>
			<div class="product-extra__product-extra-card">
				<h3 class="product-extra__product-extra-card-title">Питьевая вода</h3>
				<dl class="product-extra__list-extra">
					<dt class="product-extra__description-extra">
						5 литров
					</dt>
					<dd class="product-extra__values-extra">
						50 Р.
					</dd>
				</dl>
				<a class="button button__catalog-order" href="#">ЗАКАЗАТЬ</a>
			</div>
			<div class="product-extra__product-extra-card">
				<h3 class="product-extra__product-extra-card-title">молоко</h3>
				<dl class="product-extra__list-extra">
					<dt class="product-extra__description-extra">
						1 литр
					</dt>
					<dd class="product-extra__values-extra">
						100 Р.
					</dd>
				</dl>
				<a class="button button__catalog-order" href="#">ЗАКАЗАТЬ</a>
			</div>
			<div class="product-extra__product-extra-card">
				<h3 class="product-extra__product-extra-card-title">витамины</h3>
				<dl class="product-extra__list-extra">
					<dt class="product-extra__description-extra">
						1 упаковка (30 г)
					</dt>
					<dd class="product-extra__values-extra">
						300 Р.
					</dd>
				</dl>
				<a class="button button__catalog-order" href="#">ЗАКАЗАТЬ</a>
			</div>
		</div>
		<div class="product-extra__background">
			<img class="product-extra__background-image" src="https://placekitten.com/280/290" width="280" height="290" alt="Кот в переноске">
			<span class="catalog__extra-icon-gift"></span>
			<p class="product-extra__slogan">Закажите все <br> и получите чехол для <br> кота в подарок!</p>
		</div>
	</section>
</main>
{% endblock %}
