{% set pageId = 2 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main-container">
	<h1 class="main-container__form-title">Подбор программы</h1>
	<section class="form">
		<h2 class="visually-hidden">Заполнение формы</h2>
		<form class="form__filter" action="https://echo.htmlacademy.ru/" method="get">
			<fieldset class="form__fieldset">
				<legend class="form__legend-questionnaire">Заполните анкету, и мы подберем <br> программу питания для вашего кота</legend>
				<label class="form__label">ИМЯ:* <input type="text" required placeholder="БАРСИК"></label>
				<label class="form__label">ВЕС(КГ):* <input type="text" required placeholder="7"></label>
				<label class="form__label">ВОЗРАСТ(ЛЕТ):* <input type="text" required placeholder="7"></label>
			</fieldset>
			<fieldset class="form__fieldset">
				<legend class="form__legend"></legend>
				<label class="form__label"><input class="form-input" type="radio" name="choice" value="Похудение" checked>
					Похудение
				</label>
				<label class="form__label"><input class="form-input" type="radio" name="choice" value="Набор массы">
					Набор массы
				</label>
				<label class="form__label"><input class="form-input" type="radio" name="choice" value="Не знаю (Нужен ваш совет)">
					Не знаю (Нужен ваш совет)
				</label>
			</fieldset>
			<fieldset class="form__fieldset">
				<legend class="form__legend">Контактные данные <br> (владельца кота)</legend>
				<label class="form__label">EMAIL:* <input type="email" required placeholder="kuklachev@gmail.com">
					<span class="form__fieldset-icon-email"></span></label>
				<label class="form__label">Телефон:* <input type="tel" required placeholder="8 (960) 900-60-90">
					<span class="form__fieldset-icon-phone"></span></label>
			</fieldset>
			<div class="form__fieldset">
				<label class="form__legend" for="textarea">Комментарий</label>
				<textarea class="form__textarea" id="textarea">Расскажите обо всех повадках кота</textarea>
			</div>
			<fieldset class="form__fieldset-extra">
				<legend class="form__legend-extra">Дополнительно</legend>
				<label class="form__label-extra"><input class="form-input-extra" type="checkbox" name="choice" value="Сахарозаменитель" checked>
					Сахарозаменитель
				</label>
				<label class="form__label-extra"><input class="form-input-extra" type="checkbox" name="choice" value="Питьевая вода">
					Питьевая вода
				</label>
				<label class="form__label-extra"><input class="form-input-extra" type="checkbox" name="choice" value="Молоко">
					Молоко
				</label>
				<label class="form__label-extra"><input class="form-input-extra" type="checkbox" name="choice" value="Витамины">
					Витамины
				</label>
			</fieldset>
			<a class="button button__form-order" href="#">ОТПРАВИТЬ ЗАЯВКУ</a>
			<p class="form__note">* — Обязательные поля</p>
		</form>
	</section>
</main>
{% endblock %}
