{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main-container">
	<h1 class="visually-hidden">CAT ENERGY - Функциональное питание для котов</h1>
	<section class="plans">
		<div class="plans__wrapper">
			<header class="plans__header">
				<h2 class="visually-hidden">
					Выбор программы
				</h2>
				<p class="plans__description">
					Функциональное <br>
					питание для котов
				</p>
				<p class="plans__slogan">
					Занялся собой? Займись котом!
				</p>
			</header>
			<img class="plans__background" src="#" width="320" height="302" alt="Рыжий кот облизывается">
			<img class="plans__sample" src="#" width="280" height="270" alt="Образец товара">
		</div>
	</section>
</main>
{% endblock %}
